<div class="container">
  <div class="row">
    <h1 class="mx-auto">About</h1>
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
      <h5 class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。<br />
      お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br />
      様々なバリエーションをご⽤意しております。<br />
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br />
      ぜひご注⽂ください。</h5>
    </div>
  </div>
    <div class="row mt-5">
      <div class="mx-auto">
        <%= image_tag 'naganocake_about.png', size: '400x250' %>
      </div>
    </div>
  </div>