</br>
<h1 class="text-center">About</h1>
</br>
</br>
</br>
<p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
<p class="text-center">お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</p>
<p class="text-center">様々なバリエーションをご⽤意しております。</p>
<p class="text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</p>
<p class="text-center">ぜひご注⽂ください。</p>