<div class="container">
  <div class="row">
    <h1 class="text-center">About</h1>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</p><br />
      <p class="text-center">お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</p><br />
      <p class="text-center">様々なバリエーションをご⽤意しております。</p><br />
      <p class="text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</p><br />
      <p class="text-center">ぜひご注⽂ください。</p>
    </div>
  </div>
    <div class="row">
      <img src="/assets/images/naganocake_about.png" class="about_image"></img>
    </div>
  </div>