<div class = "container">
  <div class = "row">
    <%= form_with model: @genre, url: admin_genre_path(@genre.id), local: true do |f| %>
      <%= f.label :name, "ジャンル名" %>
      <%= f.text_field :name %>
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    <% end %>
  </div>
</div>